aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
discord==1.0.1
discord.py==1.7.1
dnspython==2.1.0
humanfriendly==9.1
idna==2.10
motor==2.4.0
multidict==5.1.0
pymongo==3.11.4
requests==2.25.1
schedule==1.1.0
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3

redis~=3.5.3